body {
    background-color: rgb(250,250,255);
}

h1 {
    font-family: 'Raleway';
    color: #ef3243;
}

.location {
    font-family: 'Raleway';
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: -50px;
    left: 35%;
}

.start-location {
    position: relative;
    left: 10px;
}

.end-location {
    position: relative;
    top: 5px;
}

label {
    padding-right: 10px;
}

input[type=text]:focus {
    border-color: #ef3243;
}

.map {
    height: 745px;
    width: 100%;
    position: relative;
    top: -20px;
    left: 0%;
}
