body {
    background-color: rgb(250,250,255);
    font-family: 'Raleway';
}

h1 {
    font-size: 3rem;
    line-height: 2rem;
    color: #ef3243;
}

.location {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: -65px;
}

.start-location {
    position: relative;
    left: 6px;
}

input[type=text] {
    height: 25px;
    width: 150px;
    position: relative;
    top: -5px;
}

input[type=text]:focus {
    border-color: #ef3243;
}

input[type=button] {
    width: 60px;
    position: relative;
    top: -5px;
}

.map {
    height: 740px;
    width: 100%;
    position: relative;
    top: -50px;
    left: 0%;
}
